*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: Sans-Serif;
}

.con{
  background: #e21e1e;
  width: 100%;height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box{
  background: #fff;
  padding: 2rem;
  width: 30rem;
  border-radius: 2rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 4rem;
  color: #e21e1e;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.heart{
  font-size: 4rem;
  animation: heart 3s infinite ;
}

.txt{
  font-family: cursive;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: capitalize;
}

.txt span{
  font-size: 1.7rem;
  color: #222;
}

#personName{
  width: 80%;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: 2px solid #e21e1e;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #e21e1e;
}

#generate{
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background: #e21e1e;
  color: #fff; 
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 0.5rem;
}


.pro{
  text-align: center;
  flex-direction: column;
}

.love{
  text-transform: capitalize;
  font-size: 3rem;
  color: rgb(0,0,0,0.3);
}

.user{
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: block;
  color: #fff;
  font-size: 4rem;
}



.probody{
  background: #e21e1e;
  max-height: 100vh;
  display: none;
  overflow-y: hidden;
  transition: 1s;
}

.slider{
  transition: 1s;
}

.div1,
.div2,
.div3,
.div4,
.pro{
  width: 100%;
  min-height: 100vh;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.probox{
  background: #fff;
  padding: 2rem 2rem;
  width: 30rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 20px rgb(0,0,0,0.3);
}

.protxt{
  font-size: 2rem;
  text-align: center;
  font-family: Sans-Serif;
}

.proheart{
  display: block;
  text-align: center;
  font-size: 3rem;
  color: #e21e1e;
  margin-bottom: 2rem;
}

.pronxt{
  width: 100%;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.nxtbtn{
  color: #fff;
  font-size: 4rem;
  margin-bottom: 2rem;
  transition: 0.5s;
  transform: rotate(90deg);
  animation: moveAngle 1s infinite ;
}

.nxtbtn:hover{
  
  color: rgb(0,0,0,0.2);
}

@keyframes moveAngle{
  0%{
    margin-bottom: 2rem;
  }
  50%{
    margin-bottom: 1rem;
  }
  100%{
    margin-bottom: 2rem;
  }
}




@keyframes heart{
  0%{
    font-size: 3rem;
  }
  50%{
    font-size: 4rem;
  }
  100%{
    font-size: 3rem;
  }
}